* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-image: url("./img/fond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.container input {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #111;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}
.container .infosMeteo {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infosMeteo h2 {
  margin-top: 50px;
  text-align: center;
}
.infosMeteo h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
}
.infosMeteo h3 span {
  font-size: 18px;
}
.infosMeteo .picto{
  width: 150px;

}
.infosMeteo .picto img{
  width: 100%;
}

.infosMeteo .precipitations,
.infosMeteo .vent {
  font-size: 22px;
}

@media screen and (max-width: 500px) {
  .container {
    max-height: 100svh;
  }
}

@media screen and (max-height: 500px) {
  .infosMeteo h3 {
    margin-bottom: 20vh;
  }
}
